<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <%= @user.introduction %>
      
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3>Micropost</h3>
    <ol class="microposts">
      <%= render @micropost %>
      <span class="content">
        <%= @micropost.content %>
        
      </span>
      
    </ol>
    <%= render 'shared/comment_form' %>
    <%= render 'shared/comments'%>
  </div>
</div>  